* {
  user-select: none;
  --border-color: rgb(238, 238, 238);
  --wind-background-color: #f0f0f0;
}

.main-container {
  display: flex;
}

.legend {
  color: gray;
  font-size: 1.2em;
  font-weight: 500;
  width: 140px;
  flex-shrink: 0;
  & div {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-top: 2px solid var(--border-color);
  }
}

.overlay {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgb(122,122,122);
  background: linear-gradient(90deg, rgba(122,122,122,1) 0%, rgba(9,9,121,0) 2%, rgba(102,102,172,0) 95%, rgba(255,255,255,1) 100%);
  pointer-events: none;
}

.chart-container {
  overflow: hidden;
}

.chart-scroll {
  width: 100%;
  height: 100%; 
  overflow-x: scroll;
  position: relative;
}

.chart-content {
  white-space: nowrap;
  display: inline-block;
  position: relative;
  height: 100%;
}

.column {
  width: 120px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  background-color: transparent;
}

.day-container {
  display: flex;
  flex-wrap: nowrap;
  display: inline-block;
}

.day-cell {
  height: 35px;
  margin-left: 1em;
  border-right: 2px solid var(--border-color);
}

.hour-cell {
  font-size: 1.6em;
  line-height: 60px;
  padding: auto 0;
  height: 60px;
  font-weight: 700;
  border-right: 2px solid var(--border-color);
}

.forecast-cell {
  height: 70px;
  border-right: 2px solid var(--border-color);
  display: flex;
  justify-content: space-around;
  & img {
    object-fit: contain;
  }
}

.temperature-cell {
  height: 220px;
  border-right: 2px solid var(--border-color);
}

.rainfall-cell {
  height: 120px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  border-right: 2px solid var(--border-color);
}

.rainfall-chart {
  background-color: #65cafa;
  bottom: 0;
  font-size: 1.3em;
  font-weight: 500;
  & span {
    transform: translateY(-100%);
    display: block;
  }
}

.wind-arrow {
  height: 80px;
  display: flex;
  justify-content: space-around;
  & img {
    object-fit: contain;
  }
}

.wind-dir-cell {
  font-size: 1.2em;
  font-weight: 500;
  height: 120px;
  background-color: var(--wind-background-color);
  & span {
    line-height: 100%;
    vertical-align: middle;
  }
  border-right: 2px solid white;
}

.wind-speed-cell {
  height: 100px;
  font-weight: 500;
  background-color: var(--wind-background-color);
  border-right: 2px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  & span {
    font-size: 1.3em;
    display: inline-block;
  }

  & span:nth-child(2) {
    font-size: 1.5em;
  }
}

.pressure-cell {
  box-sizing: border-box;
  height: 200px;
  border-right: 2px solid var(--border-color);
  border-bottom: 2px solid var(--border-color);
}