* {
  user-select: none;
  --border-color: rgb(238, 238, 238);
  --wind-background-color: #f0f0f0;
}

.chart-content {
  white-space: nowrap;
  display: inline-block;
  position: relative;
  height: 100%;
  max-height: 100vh;
}

.column {
  width: 120px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  background-color: transparent;
}

.day-container {
  display: flex;
  flex-wrap: nowrap;
  display: inline-block;
}

.day-cell {
  margin-left: 1em;
  border-right: 2px solid var(--border-color);
}

.hour-cell {
  font-size: 1.6em;
  // height: 2rem;
  height: 10%;
  font-weight: 700;
  border-right: 2px solid var(--border-color);
}

.forecast-cell {
  // height: 3rem;
  padding: 1em;
  border-right: 2px solid var(--border-color);
  & img {
    width: 100%;
    height: auto;
  }
}


.temperature-cell {
  height: 200px;
  border-right: 2px solid var(--border-color);
}

.rainfall-cell {
  height: 4rem;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  border-right: 2px solid var(--border-color);
}

.rainfall-chart {
  background-color: #65cafa;
  bottom: 0;
  & span {
    transform: translateY(-100%);
    display: block;
  }
}

.wind-arrow {
  height: 2rem;
  padding: 1rem 0;
  & img {
    width: 50%;
    height: auto;
    margin: auto;
  }
}

.wind-dir-cell {
  font-size: 1.2em;
  height: 6rem;
  background-color: var(--wind-background-color);
  & span {
    line-height: 100%;
    vertical-align: middle;
  }
  border-right: 2px solid white;
}

.wind-speed-cell {
  font-size: 1.2em;
  padding-top: 0.5em;
  padding-bottom: 1rem;
  background-color: var(--wind-background-color);
  border-right: 2px solid white;
}

.pressure-cell {
  height: 200px;
  border-right: 2px solid var(--border-color);
  border-bottom: 2px solid var(--border-color);
}

.temperature-chart {
  display: block;
  position: absolute;
  top: 7rem;
  height: 200px;
  width: 100%;
  stroke-width: 2;
  & line {
    stroke: #f9d348;
  }
  & circle {
    stroke: black;
    fill: white;
  }
  & text {
    font-size: 2em;
    font-weight: 500;
  }
}

.pressure-chart {
  display: block;
  position: absolute;
  bottom: 0;
  height: 200px;
  width: 100%;
  stroke-width: 2;
  & line {
    stroke: black;
  }
  & circle {
    stroke: black;
    fill: white;
  }
  & text {
    font-weight: 500;
  }
}
