<div class="chart-content">
    <div class="column" *ngFor="let hourData of data">
        <div class="hour-cell">
            {{hourData.timestamp | date: 'hh:mm'}}
        </div>
        <div class="forecast-cell">
            <img src="assets/cloudy.png">
        </div>
        <div class="temperature-cell"></div>
        <div class="rainfall-cell">
            <div 
                class="rainfall-chart" 
                [ngStyle]="{'height': hourData.rainfall * 100/5 + '%'}"
            >
                <span>{{ hourData.rainfall }} mm</span>
            </div>
        </div>
        <div class="wind-dir-cell">
            <div class="wind-arrow">
                <img 
                    src="assets/wind-arrow.PNG" 
                    [ngStyle]="{'transform': 'rotate(' + hourData.windDirection * 45 + 'deg)' }"
                >
            </div>
            <span>{{ hourData.windDirection | windDirection}}</span>
        </div>
        <div class="wind-speed-cell">
            <span>{{hourData.windLevel}}</span>
            <br>
            <span>{{hourData.windSpeed}} km/h</span>
        </div>
        <div class="pressure-cell"></div>
    </div>
    <svg class="temperature-chart">
        <g *ngFor="let hourData of data; index as i">
            <line *ngIf="data[i+1]"
                [attr.x1]="getLineX(i)" 
                [attr.y1]="getTempLineY(hourData)" 
                [attr.x2]="getLineX(i + 1)" 
                [attr.y2]="getTempLineY(data[i+1])">  
            </line>    
            <circle 
                [attr.cx]="getLineX(i)" 
                [attr.cy]="getTempLineY(hourData)" 
                r="8">
            </circle>
            <text 
                [attr.x]="getLineX(i)" 
                [attr.y]="getTempLineY(hourData) - 25"
                dominant-baseline="middle"
                text-anchor="middle"
            >
                {{hourData.temperature}}°
            </text>
        </g>
    </svg>
    <svg class="pressure-chart">
        <g *ngFor="let hourData of data; index as i">
            <line *ngIf="data[i+1]"
                [attr.x1]="getLineX(i)" 
                [attr.y1]="getPressLineY(hourData)" 
                [attr.x2]="getLineX(i + 1)" 
                [attr.y2]="getPressLineY(data[i+1])">  
            </line>    
            <circle 
                [attr.cx]="getLineX(i)" 
                [attr.cy]="getPressLineY(hourData)" 
                r="8">
            </circle>
            <text 
                [attr.x]="getLineX(i)" 
                [attr.y]="getPressLineY(hourData) - 25"
                dominant-baseline="middle"
                text-anchor="middle"
            >
                {{hourData.pressure}} hPa
            </text>
        </g>
    </svg>
</div>
