<div class="main-container">
    <div class="legend">
        <div style="height: 35px;">Dzień</div>
        <div style="height: 60px;">Godzina</div>
        <div style="height: 70px;">Prognoza</div>
        <div style="height: 220px;">Temperatura</div>
        <div style="height: 120px;">Opady</div>
        <div style="height: 120px;">Kierunek<br>wiatru</div>
        <div style="height: 100px;">Prędkość<br>wiatru</div>
        <div style="height: 200px;">Ciśnienie</div>
    </div>
    <div class="chart-container" 
        [ngStyle]="{
            'width': timeWindow*columnWidth + 'px', 
            'padding-left': leftBounce + 'px',
            'padding-right': rightBounce + 'px',
            'transition': !leftBounce && !rightBounce ? 'padding-left 1s, padding-right 1s' : 'none'
        }">
        <div class="overlay" #overlay
            (mousedown)="onMouseDown($event)" 
            (mouseup)="onMouseUp($event)"
            (mouseleave)="onMouseLeave($event)">
            <button *ngIf="position !== 0" class='nav-button nav-button-left' (click)="onButtonScroll('left')">
                <svg height="25" width="25">
                    <polygon points="0,12.5 25,25 25,0"/>
                </svg>
            </button>
            <button *ngIf="position !== scrollPositions" class='nav-button nav-button-right' (click)="onButtonScroll('right')">
                <svg height="25" width="25">
                    <polygon points="0,25 25,12.5 0,0"/>
                </svg>
            </button>
            <div class="scrollbar" [ngClass]="{'hidden': !scrolling}"><div [ngStyle]="{
                'left': 100 * scrollElement.scrollLeft / scrollElement.scrollWidth  + '%',
                'width': 100  * scrollElement.offsetWidth / scrollElement.scrollWidth  + '%'
            }" class="scrollbar-thumb"></div></div>    
        </div>
        <div
            #scrollElement  
            class="chart-scroll">    
            <div class="chart-content">
                <div *ngFor="let dayData of forecastData; index as i" class="day-container">
                    <div class="day-cell">
                        <span *ngIf="i===1">JUTRO</span>
                        <span *ngIf="i>1">{{dayData.timestamp.toLocaleDateString()}}</span>
                    </div>
                    <div class="column" *ngFor="let hourData of dayData.data">
                        <div class="hour-cell">
                            {{hourData.timestamp | date: 'HH:mm'}}
                        </div>
                        <div class="forecast-cell">
                            <img [src]="'assets/' + hourData.forecast + '.png'">
                        </div>
                        <div class="temperature-cell"></div>
                        <div class="rainfall-cell">
                            <div 
                                class="rainfall-chart" 
                                [ngStyle]="{'height': hourData.rainfall * 75/rainfallMax + '%'}">
                                <span>{{ hourData.rainfall | number:undefined:'pl' }} mm</span>
                            </div>
                        </div>
                        <div class="wind-dir-cell">
                            <div class="wind-arrow">
                                <img src="assets/wind-arrow.png" 
                                    [ngStyle]="{'transform': 'rotate(' + hourData.windDirection * 45 + 'deg)' }">
                            </div>
                            <span>{{ hourData.windDirection | windDirection}}</span>
                        </div>
                        <div class="wind-speed-cell">
                            <span>{{hourData.windLevel}}</span>
                            <span>{{hourData.windSpeed}} km/h</span>
                        </div>
                        <div class="pressure-cell"></div>
                    </div>
                </div>
                <app-line-chart 
                    [values]="tempValues"
                    [color]="'#f9d348'"
                    [unit]="'°'"
                    [columnWidth]="columnWidth"
                    [top]="'165px'"
                    [fontSize]="'2em'"
                    [height]="'220px'"
                ></app-line-chart>
                <app-line-chart 
                    [values]="pressValues"
                    [color]="'black'"
                    [unit]="' hPa'"
                    [columnWidth]="columnWidth"
                    [top]="'725px'"
                    [fontSize]="'1.3em'"
                ></app-line-chart>
            </div>
        </div>
    </div>
</div>
